.contacts {
    font-style: normal;
}

.contacts__phone {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.contacts__worktime {
    color: #f89513;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    opacity: 0.7;
    pointer-events: none;
}
.contacts__work {
    position: relative; 
    text-align: right; 
}
.contacts__work:hover .contacts__drop {
    right: 0;
    opacity: 1;
}
.contacts__work:hover .contacts__worktime {
    color: #ffffff;
}
.contacts__drop {
    display: flex;
    position: absolute;
    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 100%);
    box-shadow: 0 0 10px rgba(23, 59, 117, 0.55); 
    top: 100%;  
    margin-top: 15px;
    padding: 17px 20px 17px 20px;
    right: 0;
    line-height: 18px;
    right: -9999px;
    opacity: 0;
    transition: opacity .5s;
}

.contacts__drop:before {
    content: '';
    display: flex;
    border: 12px solid transparent;
    border-bottom: 12px solid #ffffff;
    position: absolute;
    top: -24px;
    right: 4px;
}

.contacts__drop::after {
    content: '';
    display: flex;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.contacts__work-list {
    text-align: left;
}
.contact__work-item {
    font-family: 'open_sanslight';
    color: #221f1f;
    font-size: 14px;
}
.contact__work-item_active {
    font-family: 'open_sansbold';
    color: #f89513;
}