.last-news {
   padding: 20px 56px 70px 22px;
    
}
.last-news__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.news_title {
    display: inline-flex;
    margin-bottom: 37px;
}

.news {
    display: flex;
}

.news__photo {
    width: 173px;
    height: 173px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}
.news__img {
    width: 100%;
    height: 100%;
}
.news__desc {
    color: #221f1f;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
}
.news__data {
    color: #656464;
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
}
.news__title {
    font-family: Roboto;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}
.news__text {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    max-width: 613px;
}