
.partners__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partners__item {
    width: 33.3%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.partners__link {
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}

