.title {
    font-family: 'open_sansbold';
    font-size: 49px;
    text-transform: uppercase;
    letter-spacing: 1.47px;
    color: #221f1f;
    line-height: 38px;
}

.title_white {
    margin-bottom: 60px;
    color: #ffffff;
}

.title_services {
    margin-bottom: 59px;
}

.title_partners {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.38px;
    margin-bottom: 52px;
}